{% extends 'indicadores/base.html' %}
{% load static %}

{% block content %}
<form method="POST" onsubmit="return false">
    {% csrf_token %}                        
    <div class="col-sm-12 offset-sm-2">
        <div class="form-group">
            <label>ingrese el año que desea guardar</label>
            <input type="text" name="year" required>
        </div> 
    </div>   
    <div class="col-sm-12 offset-sm-2">                           
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="btn_guardar">Guardar</button>
        </div>
    </div>
</form>
<div class="col-sm-6 offset-sm-2" id="output">
    <div class="ajaxProgress" style="display:none">        
        <img src="{% static 'img/loader.gif' %}" alt="loading"> 
        <h2>cargando... porfavor espere</h2>
    </div>
</div>
<div class="col-sm-6 offset-sm-2" id="graphContainer" style="height: 100px">
    <canvas id="myChart" width="50" height="50"></canvas>
</div> 
{% endblock%}
          
{% block scripts%}
<script type='text/javascript' src="{% static 'js/charts.js' %}"></script>
{% endblock%} 