{% extends 'indicadores/base.html' %}
{% load static %}

{% block content %}

{% csrf_token %}                        
<div>
    <div>
        <label>Indique la fechas que desea graficar.</label>            
    </div> 
    <div class="col-sm-10 offset-sm-2 ">
        <div class="form-group">
            <label>Fecha Inicial</label>
            <select class="form-control" name="month_ini">
                <option value="1" selected>Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>
            <div class="my-2">
                <label>Año</label>
                <input type="text" name="year_ini" required>
            </div>           
        </div>
    </div> 
    <div class="col-sm-10 offset-sm-2 my-2">
        <div class="form-group">
            <label>Fecha Final</label>
            <select class="form-control" name="month_end">
                    <option value="1" selected>Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select> 
            <div class="my-2">
                <label>Año</label>
                <input type="text" name="year_end" required>
            </div>           
        </div>
    </div> 
<div class="col-sm-12 offset-sm-2">                           
    <div class="form-group">
        <button type="button" class="btn btn-primary" id="btn_graph">graficar</button>
    </div>
</div>
<div class="col-sm-12 offset-sm-2" id="output">
    <div class="ajaxProgress" style="display:none">        
        <img src="{% static 'img/loader.gif' %}" alt="loading"> 
        <h2>cargando... porfavor espere</h2>
    </div>
</div>
<div class="col-sm-12 offset-sm-2 " id="graphContainer">
        <canvas id="myChart" width="600" height="600"></canvas>
</div> 
{%endblock%}
{% block scripts%}
<script type='text/javascript' src="{% static 'js/consumoApi.js' %}"></script>

{% endblock%} 