{% extends 'indicadores/base.html' %}
{% load static %}
{%block content%}

<div class="col-12" id="panel" >
  <input type="text" name="lat_ini" readonly placeholder="Latitud inicial"></input>
  <input type="text" name="long_ini" readonly placeholder="Longitud inicial"></input>
</div>
<div class="col-12 my-2">
  <input type="text" name="cant_grilla" placeholder="Nº de cuadros por lado"></input>
  <input type="text" name="tamanio" placeholder="longitud por cuadro"></input>    
  <button type="button" class="btn btn-primary" id="btn_generar">Generar grilla</button> 
  <button type="button" class="btn btn-primary" id="btn_eliminar">Eliminar grilla</button>     
<div>

</div>
<div class="col-12 my-2" id="map"></div>
{%endblock%}

{%block scripts%}
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjJuxCSNRzDz1aZi9n5vduL55j9jWiVs4&callback=initMap"
  type="text/javascript"></script>
<script type='text/javascript' src="{% static 'js/googleMaps.js' %}"></script>
{%endblock%}